<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false"  displayDetailsOnTestsThatTriggerWarnings="true" beStrictAboutCoverageMetadata="true" requireCoverageMetadata="true">
  <testsuites>
    <testsuite name="PHPSkills Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
  <logging>
    <junit outputFile="output/test/junit.xml"/>
    <testdoxHtml outputFile="output/test/index.html"/>
  </logging>

  <coverage>
    <report>
      <html outputDirectory="output/coverage" />
      <clover outputFile ="output/coverage/clover.xml" />
    </report>
  </coverage>
</phpunit>
